:host {
    height: 400px;
    width: 400px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 26px;
    color: mediumslateblue;

    .heading {
        font-size: 1rem;
        font-weight: 600;
    }

    .description {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .form-details {
        .key-value-pair {
            display: flex;
            
            .key {
                width: 160px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1.25rem;
                font-weight: 600;
            }
            .value {
                font-weight: 400;
            }
        }
    }
}
