<ng-container *ngIf="fieldData && fieldData">
  <div class="heading">{{ headingText }}</div>
  <div class="description">{{ description }}</div>
  <div class="form-details">
    <ng-container *ngFor="let field of fieldData | keyvalue">
      <div class="key-value-pair">
        <div class="key">{{ field.key }}</div>
        <ng-container *ngIf="getItems($any(field.value)) as item">
          <ng-container *ngIf="item.type === 'string'">
            <div class="value">{{ item.value }}</div>
          </ng-container>
          <ng-container *ngIf="item.type === 'Array'">
            <ul class="list">
              <ng-container *ngFor="let value of $any(item.value)">
                <li>
                  {{ item.value }}
                </li>
              </ng-container>
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
